{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Web App</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo dolor, sagittis vitae elit vel, vehicula dignissim purus. 
                    Etiam ut erat interdum arcu ultrices egestas eu fringilla sem. Donec pulvinar fringilla quam, vitae tristique ipsum venenatis eu. 
                    Curabitur egestas porttitor dolor, quis suscipit massa euismod eget. Nullam velit ligula, rutrum at pellentesque sit amet, 
                    maximus quis leo. Ut laoreet ex sem, vel posuere nisl viverra et. Nullam suscipit volutpat metus. Sed mattis aliquet commodo. 
                    Pellentesque cursus elit eget est blandit, ac posuere risus posuere. Nunc lobortis tortor ante, eu sagittis sapien molestie non. 
                    Pellentesque ultricies orci at enim pulvinar, et rutrum turpis egestas. 
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo dolor, sagittis vitae elit vel, vehicula dignissim purus. 
                    Etiam ut erat interdum arcu ultrices egestas eu fringilla sem. Donec pulvinar fringilla quam, vitae tristique ipsum venenatis eu. 
                    Curabitur egestas porttitor dolor, quis suscipit massa euismod eget. Nullam velit ligula, rutrum at pellentesque sit amet, 
                    maximus quis leo. Ut laoreet ex sem, vel posuere nisl viverra et. Nullam suscipit volutpat metus. Sed mattis aliquet commodo. 
                    Pellentesque cursus elit eget est blandit, ac posuere risus posuere. Nunc lobortis tortor ante, eu sagittis sapien molestie non. 
                    Pellentesque ultricies orci at enim pulvinar, et rutrum turpis egestas. 
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo dolor, sagittis vitae elit vel, vehicula dignissim purus. 
                    Etiam ut erat interdum arcu ultrices egestas eu fringilla sem. Donec pulvinar fringilla quam, vitae tristique ipsum venenatis eu. 
                    Curabitur egestas porttitor dolor, quis suscipit massa euismod eget. Nullam velit ligula, rutrum at pellentesque sit amet, 
                    maximus quis leo. Ut laoreet ex sem, vel posuere nisl viverra et. Nullam suscipit volutpat metus. Sed mattis aliquet commodo. 
                    Pellentesque cursus elit eget est blandit, ac posuere risus posuere. Nunc lobortis tortor ante, eu sagittis sapien molestie non. 
                    Pellentesque ultricies orci at enim pulvinar, et rutrum turpis egestas. 
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo dolor, sagittis vitae elit vel, vehicula dignissim purus. 
                    Etiam ut erat interdum arcu ultrices egestas eu fringilla sem. Donec pulvinar fringilla quam, vitae tristique ipsum venenatis eu. 
                    Curabitur egestas porttitor dolor, quis suscipit massa euismod eget. Nullam velit ligula, rutrum at pellentesque sit amet, 
                    maximus quis leo. Ut laoreet ex sem, vel posuere nisl viverra et. Nullam suscipit volutpat metus. Sed mattis aliquet commodo. 
                    Pellentesque cursus elit eget est blandit, ac posuere risus posuere. Nunc lobortis tortor ante, eu sagittis sapien molestie non. 
                    Pellentesque ultricies orci at enim pulvinar, et rutrum turpis egestas. 
                </p>
            </div>
        </div>
    </div>
{{end}}
