{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Edit Product</h1>
                
                <form method="post" action="" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    {{ with index .Result 0 }}
                        <div class="form-group mt-3">
                            <label for="code">Product Code:</label>
                            <input class="form-control"
                                id="code" autocomplete="off" type='text'
                                name='code' value="{{with index .Values 1}}{{ . }}{{ end }}" disabled>
                        </div>
                    
                        <div class="form-group">
                            <label for="type">Vehicle Type:</label>
                            <input class="form-control"
                                id="type" autocomplete="off" type='text'
                                name='type' value="{{with index .Values 2}}{{ . }}{{ end }}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input class="form-control"
                                id="name" autocomplete="off" type='text'
                                name='name' value="{{with index .Values 3}}{{ . }}{{ end }}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description"
                                autocomplete="off" type='text'
                                name='description' disabled>{{with index .Values 4}}{{ . }}{{ end }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input class="form-control" id="price"
                                autocomplete="off" type='text'
                                name='price' value="{{with index .Values 5}}{{ . }}{{ end }}" disabled>
                        </div>
                    {{ end }}
                    <hr>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
                
            </div>
        </div>
    </div>
{{end}}
